# Git Ignore file

# Ignore MacOS system files
.DS_Store

# Ignore datafiles
*.csv

# But not the ones in these directories:
!Discounts/*.csv
!Menus/*.csv

# Ignore log files
*.log

# Ignore Python bytecode
*__pycache__/
*.pyc

# Ignore keys
fingerprints.json
